body {
    padding: 0;
    margin: 0;
    background-color: black
  }
  
  #mapid,
  body,
  html {
    height: 100%;
  }
  
  
  #mapid,
  body,
  html {
    height: 100%;
  }
  
  .legend {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 12px;
    border-radius: 8px;
  }
  
  .legend i {
    float: left;
    margin-right: 8px;
    width: 18px;
    height: 18px;
  }
  #map {
    text-align: center;
    display: inline-block;
    border-width: 3rem;
  }